* {
  box-sizing: border-box;
/*  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";*/
  font-size: 16px;
}

body {
  background-color: #FFFFFF;
  margin: 0;
}

.navtop {
  background-color: #2f3742;
  height: 60px;
  width: 100%;
  border: 0;
}

.navtop div {
  display: flex;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
  padding: 0 10px;
  height: 100%;
}

.navtop div h1, .navtop div a {
  display: inline-flex;
  align-items: center;
}

.navtop div h1 {
  flex: 1;
  font-size: 22px;
  padding: 0;
  margin: 0;
  color: #eaebec;
  font-weight: normal;
}

.navtop div a {
  padding: 0 20px;
  text-decoration: none;
  color: #c1c3c6;
  font-weight: bold;
}

.navtop div a i {
  padding: 2px 8px 0 0;
}

.navtop div a:hover {
  color: #eaebec;
}

.content {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 15px 10px;
}

.content h2 {
  margin: 0;
  padding: 25px 0;
  font-size: 22px;
  border-bottom: 1px solid #ebebeb;
  color: #666666;
}
